.tempsWrap {
    max-width: 360px;
    color: white;
    /*position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.tempContainer:not(:last-child) {
    margin-bottom: 40px;
}

.tempName {
    font-weight: lighter;
    margin: 0;

    > * {
        margin-left: 10px;
        font-size: 12px;
        color: #F5F5F5;
    }
}

.tempValue {
    font-size: 32px;
    font-weight: 400;
}

.tempUnit {
    margin-left: 10px;
    font-size: 20px;
}

.tempEntry > * {
    display: block;
    font-size: 14px;
    line-height: 20px;
}

.tempEntry {
    .statName {
        font-weight: bold;
    }
    .statValue {
        margin-left: 10px;
    }
}
